@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.perspective {
  perspective: 1000px; /* 카드의 깊이 효과를 설정합니다. */
}